{% extends 'main.html' %}
{% load static %}
{% block title %}<title>О нас</title>{% endblock %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>О нас</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="main_about_wrap">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h3>Британские ученые заявили, что чистый разум не скован границами</h3>
                <p>Равным образом, высококачественный прототип будущего проекта в значительной степени обусловливает важность системы массового участия. Как уже неоднократно упомянуто, ключевые особенности структуры проекта являются только методом политического участия и своевременно верифицированы. В рамках спецификации современных стандартов, многие известные личности могут быть описаны максимально подробно.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="about_thumb">
                            <img src="{% static 'img/about/about_1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="about_thumb">
                            <img src="{% static 'img/about/about_2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}