{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Свежая и вкусная еда<br />Для вашего здоровья</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Свежая и вкусная еда<br />Для вашего здоровья</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Свежая и вкусная еда<br />Для вашего здоровья</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- about_area_start -->
<div class="about_area">
    <div class="icon_1 d-none d-md-block">
        <img src="{% static 'img/icon/1.png' %}" alt="">
    </div>
    <div class="icon_2 d-none d-md-block">
        <img src="{% static 'img/icon/2.png' %}" alt="">
    </div>
    <div class="icon_3 d-none d-md-block">
        <img src="{% static 'img/icon/3.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_info_wrap">
                    <h3>Склады ломятся от зерна</h3>
                    <span class="long_dash"></span>
                    <p>Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности прекрасно подходит для реализации инновационных методов управления процессами. Для современного мира постоянное информационно-пропагандистское обеспечение нашей деятельности требует от нас анализа глубокомысленных рассуждений. Современные технологии достигли такого уровня, что выбранный нами инновационный путь предполагает независимые способы реализации кластеризации усилий.</p>
                    <ul class="food_list">
                        <li>
                            <img src="{% static 'img/svg_icon/salad.svg' %}" alt="">
                            <span>Свежие ингридиенты</span>
                        </li>
                        <li>
                            <img src="{% static 'img/svg_icon/tray.svg' %}" alt="">
                            <span>Опытный повар</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_img">
                    <div class="img_1">
                        <img src="{% static 'img/about/big.png' %}" alt="">
                    </div>
                    <div class="small_img">
                        <img src="{% static 'img/about/small.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- Delicious area start  -->
<div class="Delicious_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Вкусная еда для вас</h3>
                </div>
            </div>
        </div>
        <div class="tablist_menu">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                <div class="single_menu text-center">
                                    <div class="icon">
                                        <i class="flaticon-lunch"></i>
                                    </div>
                                    <h4>Ужин</h4>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <div class="single_menu text-center">
                                    <div class="icon">
                                        <i class="flaticon-food"></i>
                                    </div>
                                    <h4>Завтрак</h4>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <div class="single_menu text-center">
                                    <div class="icon">
                                        <i class="flaticon-kitchen"></i>
                                    </div>
                                    <h4>Обед</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {% include 'menuitems.html' with menu=menu_din %}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include 'menuitems.html' with menu=menu_brk %}
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                {% include 'menuitems.html' with menu=menu_lun %}
            </div>
        </div>

    </div>
</div>
{% endblock %}